.root {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-roboto);
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.02857em;
  line-height: 1.75;
  margin: 0px;
  min-width: 64px;
  outline: 0px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
  user-select: none;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-tap-highlight-color: transparent;
}

.small {
  font-size: 0.8125rem;
}

.medium {
  font-size: 0.875rem;
}

.large {
  font-size: 0.9375rem;
}

.fullWidth {
  width: 100%;
}

.disabled {
  cursor: default;
  pointer-events: none;
}

.filled.small {
  padding: 4px 10px;
}

.filled.medium {
  padding: 6px 16px;
}

.fille.large {
  padding: 8px 22px;
}

.filled.primary {
  background-color: var(--primary);
  color: var(--primary-text);
}

.filled.primary:hover {
  background-color: var(--primary-dark);
}

.filled.secondary {
  background-color: var(--secondary);
  color: var(--secondary-text);
}

.filled.secondary:hover {
  background-color: var(--secondary-dark);
}

.filled.success {
  background-color: var(--success);
  color: var(--success-text);
}

.filled.success:hover {
  background-color: var(--success-dark);
}

.filled.error {
  background-color: var(--error);
  color: var(--error-text);
}

.filled.error:hover {
  background-color: var(--error-dark);
}

.filled.warning {
  background-color: var(--warning);
  color: var(--warning-text);
}

.filled.warning:hover {
  background-color: var(--warning-dark);
}

.filled.info {
  background-color: var(--info);
  color: var(--info-text);
}

.filled.info:hover {
  background-color: var(--info-dark);
}

.filled.disabled {
  background-color: var(--disabled-background);
  color: var(--disabled);
}

.outlined.small {
  padding: 3px 9px;
}

.outlined.medium {
  padding: 5px 15px;
}

.outlined.large {
  padding: 7px 21px;
}

.outlined.primary {
  border: 1px solid rgba(var(--primary-rgb), 0.5);
  color: var(--primary);
}

.outlined.primary:hover {
  background-color: rgba(var(--primary-rgb), var(--hover-opacity));
  border: 1px solid var(--primary);
}

.outlined.secondary {
  border: 1px solid rgba(var(--secondary-rgb), 0.5);
  color: var(--secondary);
}

.outlined.secondary:hover {
  background-color: rgba(var(--secondary-rgb), var(--hover-opacity));
  border: 1px solid var(--secondary);
}

.outlined.success {
  border: 1px solid rgba(var(--success-rgb), 0.5);
  color: var(--success);
}

.outlined.success:hover {
  background-color: rgba(var(--success-rgb), var(--hover-opacity));
  border: 1px solid var(--success);
}

.outlined.error {
  border: 1px solid rgba(var(--error-rgb), 0.5);
  color: var(--error);
}

.outlined.error:hover {
  background-color: rgba(var(--error-rgb), var(--hover-opacity));
  border: 1px solid var(--error);
}

.outlined.warning {
  border: 1px solid rgba(var(--warning-rgb), 0.5);
  color: var(--warning);
}

.outlined.warning:hover {
  background-color: rgba(var(--warning-rgb), var(--hover-opacity));
  border: 1px solid var(--warning);
}

.outlined.info {
  border: 1px solid rgba(var(--info-rgb), 0.5);
  color: var(--info);
}

.outlined.info:hover {
  background-color: rgba(var(--info-rgb), var(--hover-opacity));
  border: 1px solid var(--info);
}

.outlined.disabled {
  border: 1px solid var(--disabled-background);
  color: var(--disabled);
}

.ghost.small {
  padding: 4px 5px;
}

.ghost.medium {
  padding: 6px 8px;
}

.ghost.large {
  padding: 8px 11px;
}

.ghost.primary {
  color: var(--primary);
}

.ghost.primary:hover {
  background-color: rgba(var(--primary-rgb), var(--hover-opacity));
}

.ghost.secondary {
  color: var(--secondary);
}

.ghost.secondary:hover {
  background-color: rgba(var(--secondary-rgb), var(--hover-opacity));
}

.ghost.success {
  color: var(--success);
}

.ghost.success:hover {
  background-color: rgba(var(--success-rgb), var(--hover-opacity));
}

.ghost.error {
  color: var(--error);
}

.ghost.error:hover {
  background-color: rgba(var(--error-rgb), var(--hover-opacity));
}

.ghost.warning {
  color: var(--warning);
}

.ghost.warning:hover {
  background-color: rgba(var(--warning-rgb), var(--hover-opacity));
}

.ghost.info {
  color: var(--info);
}

.ghost.info:hover {
  background-color: rgba(var(--info-rgb), var(--hover-opacity));
}

.ghost.disabled {
  color: var(--disabled);
}

.startIcon,
.endIcon {
  display: 'inherit';
}

.startIcon {
  margin-left: -4px;
  margin-right: 8px;
}

.small .startIcon {
  margin-left: -2px;
}

.endIcon {
  margin-left: 8px;
  margin-right: -4px;
}

.small .endIcon {
  margin-right: -2px;
}

.small .startIcon,
.small .endIcon {
  font-size: 18px;
}

.medium .startIcon,
.medium .endIcon {
  font-size: 20px;
}

.large .startIcon,
.large .endIcon {
  font-size: 22px;
}
